<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hadenhiles.skilldrills">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/skill_drills_launcher"
        android:roundIcon="@mipmap/skill_drills_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hadenhiles.skilldrills.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>